<div class="row h-100 mx-0 justify-content-center">
	<div class="col-12 col-lg-10 col-xl-8 py-5">
		<ieeesb-section>
			<p class="h5 text-center">{{user.name}}</p>
			<div class="row justify-content-center">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
					<mat-form-field>
						<input matInput type="number" step="0.01" [ngModel]="user.money" placeholder="Saldo €" disabled>
					</mat-form-field>
					<ieeesb-tags [item]="user.roles" [tags]="[]" label="Roles" [editing]="false"></ieeesb-tags>
				</div>
			</div>
			<p class="error my-3" *ngIf="error">{{error}}</p>
		</ieeesb-section>
		<ieeesb-section>
			<p class="h5 text-center">Insertar Dinero</p>
			<div class="row justify-content-center mt-3">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
					<mat-form-field>
						<input matInput type="number" [(ngModel)]="money" placeholder="Dinero" step="0.01" [min]="0">
					</mat-form-field>
				</div>
			</div>
			<div class="row mx-0 justify-content-center mt-3">
				<div class="col-auto">
					<ieeesb-button label="Insertar" (click)="addMoney()"></ieeesb-button>
				</div>
			</div>
			<p class="error my-3" *ngIf="error">{{error}}</p>
		</ieeesb-section>
		<ieeesb-section>
			<p class="h5 text-center">Añadir Rol</p>
			<div class="row mx-0 justify-content-center mt-3">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
					<mat-form-field>
						<input matInput [ngModel]="role" placeholder="Rol">
					</mat-form-field>
				</div>
			</div>
			<div class="row mx-0 justify-content-center mt-3">
				<div class="col-auto">
					<ieeesb-button label="Añadir" (click)="addRole()"></ieeesb-button>
				</div>
			</div>
			<p class="error my-3" *ngIf="error">{{error}}</p>
		</ieeesb-section>
		<ieeesb-section>
			<p class="h5 text-center">Historial de Compras</p>
			<ieeesb-list [items]="purchases" [labels]="['Producto', 'Cantidad', 'Precio Total €', 'Fecha']" [keys]="['data.item.name', 'data.quantity', 'data.finalPrice', 'date']" (callback)="cancel($event)" linkKey="_id" linkLabel="Cancelar" dateFormat="dd/MM HH:mm" disabled="cancelled"></ieeesb-list>
		</ieeesb-section>
	</div>

</div>
