<div class="container-fluid main py-5">
	<div class="row justify-content-between mb-3">
		<div class="col-12 col-sm-auto text-center">
			<span class="h2">Compras</span>
		</div>
		<div class="col-12 col-sm-2 col-lg-3 col-xl-3">
			<ieeesb-button label="Añadir Compra" link="/admin/purchase/add"></ieeesb-button>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<ieeesb-list [items]="purchases" [labels]="['Fecha', 'Precio Total €', 'Dinero Restante €']" [keys]="['date', 'totalPrice', 'moneyLeft']" link="/admin/purchase/" linkKey="_id" linkLabel="Detalles"></ieeesb-list>
		</div>
	</div>
</div>
