<div class="container-fluid main p-5">
	<div class="row justify-content-between mb-3">
		<div class="col-auto">
			<div class="row">
				<div class="col-auto">
					<span class="h2">Inventario</span>
				</div>
				<div class="col">
					<app-search [items]="rawItems" [keys]="['tags', 'name']" (itemsChange)="items = $event"></app-search>
				</div>
			</div>
		</div>
		<div class="col-3">
			<a class="input-container link" routerLink="/admin/inventory/add">
				<div class="input-button"><p>+ Añadir Producto</p></div>
			</a>
		</div>
	</div>
	<div class="row items">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of items">
			<app-item-short [item]="item" type="edit" (view)="edit(item._id)"></app-item-short>
		</div>
		<div *ngIf="items.length <= 0">
			No hay resultados...
		</div>
	</div>
</div>
