<div class="row h-100 mx-0 justify-content-center">
	<div class="col-6 bg-white align-self-start my-5 shadow-2 rounded py-5">
		<p class="h5 text-center mb-3" *ngIf="!purchase.finished && !editing">Añadir Producto</p>

		<ieeesb-input [(item)]="code" (enter)="search()" label="Código"></ieeesb-input>

		<p class="h5 text-center mb-3" *ngIf="item">{{item.name}}</p>
		<ieeesb-input [(item)]="purchaseItem.quantityLeft" label="Cantidad Restante"></ieeesb-input>
		<ieeesb-input [(item)]="purchaseItem.quantity" label="Cantidad Comprada"></ieeesb-input>
		<ieeesb-input [(item)]="purchaseItem.price" label="Precio"></ieeesb-input>
		<div class="row justify-content-center" *ngIf="!editing && item && !purchase.finished">
			<div class="col-3 input-container">
				<ieeesb-button label="Añadir" (click)="addItem()"></ieeesb-button>
			</div>
		</div>
		<div class="row justify-content-center" *ngIf="editing && item && !purchase.finished">
			<div class="col-3 input-container">
				<ieeesb-button label="Actualizar" (click)="updateItem()"></ieeesb-button>
			</div>
		</div>
	</div>
</div>
