<div class="row h-100 mx-0 justify-content-center">
	<div class="col-6 py-5">
		<div class="row">
			<div class="col bg-white align-self-start shadow-2 rounded py-5">
				<p class="h5 text-center mb-3" *ngIf="!editing">Añadir Compra</p>
				<p class="h5 text-center mb-3" *ngIf="editing">Editar Compra</p>

				<ieeesb-input [(item)]="purchase.totalPrice" label="Precio Total €"></ieeesb-input>
				<ieeesb-input [(item)]="purchase.moneyLeft" label="Dinero Restante €"></ieeesb-input>
				<ieeesb-input [item]="purchase.date | date:'dd/MM/yyyy'" label="Fecha" *ngIf="editing"></ieeesb-input>
				<ieeesb-input [item]="purchase.finished ? 'Sí' : 'No'" label="Terminada" *ngIf="editing"></ieeesb-input>

				<div class="row justify-content-center" *ngIf="!editing">
					<div class="col-3 input-container">
						<ieeesb-button label="Empezar Compra" (click)="startPurchase()"></ieeesb-button>
					</div>
				</div>
				<div class="row justify-content-center" *ngIf="editing && !purchase.finished">
					<div class="col-3 input-container">
						<ieeesb-button label="Actualizar" (click)="updatePurchase()"></ieeesb-button>
					</div>
					<div class="col-1">
					</div>
					<div class="col-3 input-container">
						<ieeesb-button label="Terminar Compra" (click)="endPurchase()"></ieeesb-button>
					</div>
					<div class="col-1">
					</div>
					<div class="col-3 input-container">
						<ieeesb-button label="Eliminar" (click)="removePurchase()" [danger]="true"></ieeesb-button>
					</div>
				</div>

				<p class="error my-3" *ngIf="error">{{error}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col bg-white align-self-start mt-5 shadow-2 rounded py-5 px-5" *ngIf="editing">
				<div class="row mb-4">
					<div class="offset-4 col-4">
						<p class="h5 text-center mb-3">Productos</p>
					</div>
					<div class="col-4 input-container" *ngIf="!purchase.finished">
						<a [routerLink]="['/admin/purchase/' + purchase._id + '/item/add']" class="input-button"><p>+ Añadir Productos</p></a>
					</div>
				</div>

				<div class="row rounded shadow-1 item align-items-center justify-content-between mb-3 py-2" *ngFor="let item of purchase.items">
					<div class="col-auto">
						<a class="input-container" [routerLink]="['/admin/purchase/' + purchase._id + '/item/' + item.item._id]">
							<span class="h4 mb-0">{{item.item.name}}</span>
						</a>
					</div>
					<div class="col-6">
						<div class="row justify-content-end align-items-center">
							<div class="col-auto">
								<span class="h5 mb-0">Cantidad {{item.quantity}}</span>
							</div>
							<div class="col-4">
								<ieeesb-button label="Detalles" [link]="'/admin/purchase/' + purchase._id + '/item/' + item.item._id"></ieeesb-button>
							</div>
						</div>
					</div>
				</div>

				<p class="error my-3" *ngIf="error">{{error}}</p>
			</div>
		</div>
	</div>

</div>
