<div class="row h-100 mx-0 justify-content-center">
	<div class="col-6 bg-white align-self-start my-5 shadow-2 rounded py-5">
		<p class="h5 text-center mb-3">{{item.name}}</p>
		<div class="row justify-content-center">
			<div class="col-7">
				<ieeesb-input [item]="item.code" label="Código" [editing]="false"></ieeesb-input>
				<ieeesb-select [item]="item.type" label="Tipo" [editing]="false" [options]="['consumable', 'lendable', 'static']" [optionsLabels]="['Consumible', 'Prestable', 'Estático']"></ieeesb-select>
				<ieeesb-input [item]="item.quantity | number: '1.0-2'" label="Cantidad" [editing]="false" type="number"></ieeesb-input>
				<ieeesb-input [item]="item.price * (1 + item.sellPercent / 100) | number: '1.2-2'" label="Precio" [editing]="false" type="number"></ieeesb-input>
			</div>
		</div>
		<p class="error my-3" *ngIf="error">{{error}}</p>
	</div>
</div>
