<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{ 'fixed-left': align === 'left', 'fixed-right': align === 'right' }">
	<a class="navbar-brand" href="#">
		<img alt="Logo IEEEsb" src="assets/logo_entero.svg">
	</a>
	<button class="navbar-toggler mr-2" type="button" (click)="toggleNavbar()">

		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<div *ngFor="let item of items.left">
				<div *ngIf="(!item.roles && !user) || (item.roles && userHasRoles(item.roles))">
					<li *ngIf="item.type === 'router'" class="nav-item" [ngClass]="{ 'active': activeLink.startsWith(item.link) }">
						<a class="nav-link" [routerLink]="item.link"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'link'" class="nav-item">
						<a class="nav-link" [href]="item.link"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'callback'" class="nav-item">
						<a class="nav-link" href="javascript:;" (click)="item.callback()"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'text'" class="nav-item text">
						<a class="nav-link"><span>{{item.text}}</span></a>
					</li>
				</div>
			</div>
		</ul>
		<ul class="navbar-nav ml-auto">
			<div *ngFor="let item of items.right">
				<div *ngIf="(!item.roles && !user) || (item.roles && userHasRoles(item.roles))">
					<li *ngIf="item.type === 'router'" class="nav-item" [ngClass]="{ 'active': activeLink.startsWith(item.link) }">
						<a class="nav-link" [routerLink]="item.link"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'link'" class="nav-item">
						<a class="nav-link" [href]="item.link"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'callback'" class="nav-item">
						<a class="nav-link" href="javascript:;" (click)="item.callback()"><span>{{item.text}}</span></a>
					</li>
					<li *ngIf="item.type === 'text'" class="nav-item text">
						<a class="nav-link"><span>{{item.text}}</span></a>
					</li>
				</div>
			</div>
		</ul>
	</div>
</nav>
