<div class="row h-100 mx-0 justify-content-center">
	<div class="col-6 bg-white align-self-start my-5 shadow-2 rounded p-5">
		<p class="h5 text-center mb-3" *ngIf="!editing">Añadir Producto</p>
		<p class="h5 text-center mb-3" *ngIf="editing">Editar Producto</p>

		<ieeesb-input [(item)]="item.name" label="Nombre"></ieeesb-input>
		<ieeesb-input [(item)]="item.code" label="Código" type="number"></ieeesb-input>
		<ieeesb-select [(item)]="item.type" label="Tipo" [options]="['consumable', 'lendable', 'static']" [optionsLabels]="['Consumible', 'Prestable', 'Estático']"></ieeesb-select>
		<ieeesb-input [(item)]="item.quantity" label="Cantidad" type="number"></ieeesb-input>
		<ieeesb-input [(item)]="item.step" label="Incremento de Cantidad" type="number"></ieeesb-input>
		<ieeesb-input [(item)]="item.price" label="Precio €" type="number" step="0.01" *ngIf="item.type === 'consumable'"></ieeesb-input>
		<ieeesb-input [(item)]="item.sellPercent" label="Porcentaje de Ganancia" type="number" *ngIf="item.type === 'consumable'"></ieeesb-input>
		<ieeesb-input [(item)]="item.tags" [tags]="tags" label="Tags"></ieeesb-input>
		<div class="row justify-content-center" *ngIf="!editing">
			<div class="col-3">
				<ieeesb-button label="Añadir" (click)="addItem()"></ieeesb-button>
			</div>
		</div>
		<div class="row justify-content-center" *ngIf="editing">
			<div class="col-3">
				<ieeesb-button label="Actualizar" (click)="updateItem()"></ieeesb-button>
			</div>
			<div class="col-1">
			</div>
			<div class="col-3">
				<ieeesb-button label="Eliminar" [danger]="true" (click)="removeItem()"></ieeesb-button>
			</div>
		</div>

		<p class="error my-3" *ngIf="error">{{error}}</p>
	</div>
</div>
